.dashboard-container {
    padding: 16px;
    background-color: #F5E6E8;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }
  
  .add-button {
    background-color: #192A51;
    border-color: #192A51;
    color: white;
  }
  
  .statistics-card {
    background-color: #D5C6E0;
  }
  
  .calendar-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }
  
  .date-picker {
    background-color: #D5C6E0;
    border-color: #AAA1C8;
  }
  
  .lists {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  @media (min-width: 768px) {
    .list-section {
      width: 48%;
    }
  }
  
  .list-section .ant-card {
    background-color: #D5C6E0;
  }
  
  .list-section .ant-list-item-meta-title a {
    color: #AAA1C8;
  }
  
  .clinic-selector {
    display: flex;
    align-items: center;
  }
  
  .dropdown-button {
    background-color: #AAA1C8;
    border: none;
    margin-left: 8px;
    border-radius: 16px;
    padding: 4px 16px;
    color: #192A51;
    font-weight: bold;
  }
  