.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20%;
  background-color: #f8f8f8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.logo {
  height: 40px;
  margin-right: 0px;
}

.name {
  margin-left: -25%;
}

.navbar {
  display: flex;
  align-items: center;
}

.navbar a {
  margin: 0 15px;
  color: #565555;
  font-weight: bold;
  font-size: 16px;
}

.navbar a:hover {
  color: #624d6b;
}

.login-button {
  padding: 8px 16px;
  background-color: #7c6187;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.login-button:hover {
  background-color: #583f69;
}

.hero {
  position: relative;
  display: flex;
  align-items: center;
  color: white;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-top: -50px;
}

.hero-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20%;
  text-align: left;
}

.heading {
  font-size: xx-large;
  font-weight: bold;
}

.hero-text .sub-heading {
  font-size: x-large;
  font-weight: bold;
  color: #d4d4d5;
  margin-bottom: 20px;
}

.hero-text .large-text {
  font-size: xxx-large;
  font-weight: bold;
  color: #7c6187;
  text-shadow: -1px -1px 0 #e7d2f5, 1px -1px 0 #e7d2f5, -1px 1px 0 #e7d2f5, 1px 1px 0 #e7d2f5;
}

.sign-up-button {
  padding: 10px 20px;
  background-color: #967AA1;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
  transition: box-shadow 0.3s ease; /* Smooth transition */
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
}

.sign-up-button:hover {
  background-color: #7c6187;
}

/* Mission Section */
.mission {
  padding: 50px 20%;
  background-color: #fdfdfd;
  display: flex;
  justify-content: space-around;
}

.mission .heading {
  text-align: center;
  color: #565555;
}

.mission p {
  font-size: 1.2em;
  color: #7a7a7a;
  line-height: 1.6;
  padding-bottom: 10px;
}

/* About Section */
.about-us {
  padding: 50px 20%;
  background-color: #f6f6f8;
  text-align: center;
}

.about-us h2 {
  color: #7c6187;
  margin-bottom: 30px;
}

.about-us .about-content p {
  font-size: 1.2em;
  color: #565555;
  line-height: 1.6;
  padding-bottom: 10px;
}

/* Services Section */
.services {
  padding-left: 10%;
  padding-right: 10%;
  background-color: #ffffff;
}

.services .heading {
  color: #565555;
  text-align: center;
  padding-top: 3rem;
  margin-top: 20px;
}

.services .sub-heading {
  font-size: 20px;
  font-weight: bold;
  color: #7c6187;
}

.services .description {
  color: #AAA1C8;
}

.service-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.service-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}

.service-item .description{
  text-align: center;
}
.service-item img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.service-item p {
  font-size: 1.2em;
  color: #565555;
  text-align: center;
  padding-bottom: 40px;
}

/* Contact Section */
.contact-us {
  padding: 50px 20%;
  background-color: #f6f6f8;
  text-align: center;
}

.contact-us .heading {
  color: #7c6187;
  margin-bottom: 30px;
}

.contact-intro {
  font-size: 1.2em;
  color: #7a7a7a;
  line-height: 1.6;
  margin-bottom: 20px;
}

.contact-details {
  font-size: 1.2em;
  color: #565555;
  margin-bottom: 30px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-form input, .contact-form textarea {
  width: 80%;
  max-width: 500px;
  margin-bottom: 15px;
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.contact-form button {
  padding: 10px 20px;
  background-color: #967AA1;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.2em;
}

.contact-form button:hover {
  background-color: #7c6187;
}

/* Footer Section */
/* Footer section */
footer {
  background-color: #AAA1C8;
  padding: 30px 0;
  text-align: center;
}

.footer-container {
  display: flex;
  justify-content: space-between; /* Adjusts spacing between columns */
  align-items: flex-start;
  flex-wrap: wrap;
  padding-left: 10%;
  padding-right: 10%;
}

.footer-contact-details,
.footer-quick-links,
.footer-about {
  flex: 1;
  min-width: 250px; /* Adjust the minimum width as needed */
  margin: 10px;
}

.footer-contact-details {
  text-align: justify;
}

.footer-quick-links h3,
.footer-contact-details h3,
.footer-about h3 {
  font-size: 1em;
  color: #f6f6f8;
  margin-bottom: 20px;
}

.footer-quick-links ul {
  list-style: none;
  padding: 0;
}

.footer-quick-links li {
  margin-bottom: 10px;
}

.footer-quick-links a {
  color: #f6f6f8;
  text-decoration: none;
  font-size: 1.1em;
}

.footer-quick-links a:hover {
  text-decoration: underline;
}

.footer-contact-details p {
  font-size: 1.1em;
  color: #f6f6f8;
  margin: 10px 0;
}

.footer-about p {
  font-size: 1.1em;
  color: #f6f6f8;
  text-align: justify;
}

.footer-bottom {
  margin-top: 30px;
  color: #565555;
  font-size: 1em;
}

